.card {
    padding: 0;
}

#delete-form{
    display: inline;
}

.forms{
    width: 45%;
    margin: 25px auto;
}

h1{
    text-align: center;
}

.border-right-review{
    border-right: 1px solid rgb(150, 150, 150);
}

.review-block:hover{
    background-color: rgb(200, 200, 200);
}

/* /campground: IMAGES OF CAMPSITES  */

.campgroundsIndex:hover .card-img, 
.campgroundsIndex:focus .card-img{
    transform: scale(1.2);
}

.campgroundImagePics{
    height: 80%;
    overflow: hidden;
}

.card-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;  
  transition: all .5s;
}
/*END*/

.profile-pic{
    height: 200px;
    width: 200px;
    margin: auto;
}